/******** General Styles ********/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Signika', Sans-Serif;
}

body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='50' cy='0' r='50'/%3E%3Cg fill='%23050505' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%230a090a' cx='50' cy='100' r='50'/%3E%3Cg fill='%230e0e0e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23121112' cx='50' cy='200' r='50'/%3E%3Cg fill='%23151415' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181718' cx='50' cy='300' r='50'/%3E%3Cg fill='%231a191a' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%231d1c1d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23201e20' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232123' cx='50' cy='500' r='50'/%3E%3Cg fill='%23252325' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23282628' cx='50' cy='600' r='50'/%3E%3Cg fill='%232b292b' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%232e2b2e' cx='50' cy='700' r='50'/%3E%3Cg fill='%23312e31' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343134' cx='50' cy='800' r='50'/%3E%3Cg fill='%23373437' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a363a' cx='50' cy='900' r='50'/%3E%3Cg fill='%233d393d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23403c40' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: contain;
}

/******** Navbar ********/
.navbar-brand img{
	width: 90%;
}

ul.socmed {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.socmed li {
  margin: 0 auto;
  color: white;
}

/******* Landing Page *******/
#landing-page {
	background-image:linear-gradient(to bottom right, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url('./../images/run8.jpg');
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}

.landing-text h1{
	background-color: white;
	color: black;
	font-weight: bolder;
	mix-blend-mode: screen;
	border-radius: 10px;
	margin-top:30%;
	opacity: 0.95;
	font-size: 4rem;
	font-family: 'Anton', Sans-Serif;
	letter-spacing: 3px;
}

.landing-text a {
	color: white;
	font-weight: bolder;
	font-size: 2rem;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 2s!important;
}

/******* Home Page *******/
.sm-home {
	height: 75vh;
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(./../images/run1.jpg);
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20%;
}

.sm-home h1{
	width: 75%;
	font-family: 'Anton', Sans-Serif;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  transition: transform 2.5s ease;
}

.buttons-section {
	height: 20vh;
}

.buttons-section-btn {
	padding-top: 6vh;
}

.buttons-section .btn-lg{
	width: 10rem;
	font-weight: bolder;
	font-size: 1.5rem;
}

.buttons-section .events-btn {
	color: white;
	background-color: #111;
}

.buttons-section .reg-btn {
	background-color: #767676;
}

.buttons-section .events-btn:hover, 
.buttons-section .reg-btn:hover {
	background-color: white;
	color: black;
}

.sponsors {
	background: #262626;
}

.sponsors img {
	height: 130px; 
	width: 130px;
}

.sponsors h1 {
	letter-spacing: 1.5rem;
	font-family: 'Anton', Sans-Serif;
	font-size: 1.5rem;
	opacity: 0.55;
}

/********* Registration Page *********/
.reg-left {
	background-image: url(./../images/run9.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

/********** Events Page ***********/
.card {
	background: rgba(0,0,0,0.75);
	color: white;
}

.card table {
	background: rgba(255,255,255,0.85);
	color: black;
	padding: 0;
}

.modal-title {
	color: black!important;
	font-family: 'Signika', Sans-Serif;
	letter-spacing: 2px;
}

.card-title {
	font-family: 'Anton', Sans-Serif;
	letter-spacing: 2px;
}

/* Media Queries*/

/* Devices over 992px (lg) */

@media (min-width: 991.98px) {
	.navbar-brand img{
	width: 40%;
	}

	.landing-text h1{
		background-color: white;
		color: black;
		font-weight: bolder;
		mix-blend-mode: screen;
		border-radius: 10px;
		margin-top: 30%;
		opacity: 0.9;
		font-size: 5rem;
	}

	.landing-text a {
		color: white;
		font-weight: bolder;
		font-size: 3.5rem;
	}

	.card table {
		width: 75%;
	}

	.sponsors h1 {
	letter-spacing: 2rem;
	}
}
